:root {
    --background-color-accent: #2F303A;
    --background-color-grey: #e5e5e5;
    --background-color-white: #ffffff;
    --background-color-light-greу: #F5F4FA;
    --background-color-blue: #2196F3;
    --color-accent: #212121;
    --color-accent-two: #ffffff;
    --color-accent-three: #757575;
    --color-accent-four: #2196F3;
}

body {
    font-family:'Roboto', sans-serif;
    font-size: 14px; letter-spacing: 0.03em;
    color: var(--color-accent);
}

a, p, h1, h2, h3, ul, li {
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: var(--background-color-white);
    border-bottom: 1px solid #ECECEC;
}

.title {
    color: var(--color-accent-two);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 696px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 30px;
}

.project {
    background-color: var(--background-color-white); 
    padding-top: 94px;
    padding-bottom: 94px;
}


.section-hero {
    background-color: var(--background-color-accent);
    color: var(--color-accent-two);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-img {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url(/images/hero-img.jpg);
}

.features {
    background-color: var(--background-color-white);
    padding-top: 94px;
    padding-bottom: 94px;
}

.work {
    background-color: var(--background-color-white);
    padding-top: 0;
    padding-bottom: 94px;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skills-item {
    width: 270px;
}

.skills-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    width: 270px;
    height: 120px;

    background-color: var(--background-color-light-greу);
    border-radius: 4px;
}

.article-skills {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.skills-text {
    color: var(--color-accent-three);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.article-work, .article-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.work-img {
    display: flex;
}

.article-img {
    margin-right: 30px;
}

.article-img:last-child {
    margin-right: 0;
}

.team-img {
    display: flex;
    justify-content: space-between;
}

.title-img {
    background-color: var(--background-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* .article-company {
    display: flex;
    justify-content: space-between;
} */

.article-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

.article-paragraph {
    color: var(--color-accent-three);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.app-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px
}

.app-button .button:not(:last-child) {
    margin-right: 8px;
}

.app-item {
    display: flex;
    flex-wrap: wrap;
}

.article-app {
    background-color: var(--background-color-white);
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.article-app:nth-child(3n) {
    margin-right: 0;
}

.article-app:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.app-box {
    padding: 0 24px 20px;
    border: 1px solid #EEEEEE;
}

.article-post {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.article-decoding {
    color: var(--color-accent-three);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.team {
    background-color: var(--background-color-light-greу);
    padding-top: 94px;
    padding-bottom: 94px;
}

.navigation {
    display: flex;
    align-items: center;
}

.link-nav {
    display: flex;
    margin-left: 93px;
}

.link-nav .item-link:not(:last-child) {
    margin-right: 50px;
}

.link-address-nav {
    display: flex;
    margin-left: auto;
}

.link-address-nav .item-link+.item-link {
    margin-left: 50px;
}

.link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--color-accent);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link-tel, .link-mail {
    font-weight: 500;
    color: var(--color-accent-three);
    line-height: 1.14px;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
}

.envelope-icon {
    fill: var(--color-accent-three);
    cursor: pointer;
    margin-right: 10px;
}

.icon-smartphone {
    fill: var(--color-accent-three);
    cursor: pointer;
    margin-right: 10px;
}

.envelope-icon:hover {
    fill: var(--color-accent-four);
}

.icon-smartphone:hover {
    fill: var(--color-accent-four);
}

.item-link {
    display: flex;
    align-items: center;

}

.web, .web-footer  {
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-accent);
}
.web-footer {
    color: var(--color-accent-two);
}

.footer-link-tel, .footer-link-mail {
    color: var(--color-accent-three);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-address {
    color: var(--background-color-white);
    margin-top: 20px;
    margin-bottom: 0;
}

.footer-address:hover {
    color: var(--color-accent-four);
}

.footer-item {
    margin-bottom: 9px;
}

.footer-item:last-child {
    margin-bottom: 0;
}

.link-tel:hover {
    color: var(--color-accent-four);
}

.link-mail:hover {
    color: var(--color-accent-four);
}

.link:hover {
    color: var(--color-accent-four);
}

.footer {
    background-color: var(--background-color-accent);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-link:hover {
    color: var(--color-accent-four);
}

.footer-link-mail:hover {
    color: var(--color-accent-four);
}

.footer-link-tel:hover {
    color: var(--color-accent-four);
}

.button-order-service {
    background-color: var(--background-color-blue);
    color: var(--color-accent-two);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor:pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    padding: 10px 32px;
    min-width: 200px;
}
.button-project {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    
    display: block;
    min-width: 73px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: transparent;

    padding: 6px 22px;
}

.button :hover {
    background-color: var(--background-color-blue);
    color: var(--color-accent-two);
}

.button :focus {
    background-color: var(--background-color-blue);
    color: var(--color-accent-two);
}


